/**

Home Page CSS

**/
body {
  background-color: #ccffcc;
}

.page {
  background-color: white;
  text-align: center;
  margin-left:5%;
  margin-right: 5%;
}

#homeLinks {
  text-align: right;
}

.navigation {
  padding: 3px;
  color: white;
  background-color: green;
  text-align: center;
  border: 2px green solid;
  font-size:20px;
}

.header {
  margin-top: 10px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  height:250px;
}

#intro {
  text-align:center;
}

#homePageTitle {
  text-align: center;
}

#about {
  color: #8c1aff;
  padding: 5px;
  background-color: #fff3e6;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#aboutTitle {
  text-align: center;
}

#aboutContent {
  text-align: center;
}

#getStarted {
  padding: 10px;
  color: white;
  background-color: green;
  text-align: center;

  /*centering the button*/
    display: inline-flex;
    margin-left: 0%;
    /*transform: translateX(-75%);*/
}

/*Page*/
