/**

Home Page CSS

**/
body {
  background-color: #ccffcc;
  font-family: 'Source Sans Pro', sans-serif;
}

.page {
  background-color: white;
  text-align: center;
  margin-left:5%;
  margin-right: 5%;
}

.name {
  text-decoration: none;
}

#homeLinks {
  text-align: right;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.direct:link {
    color:green;
}

.direct:visited {
    color:green;
}

.navigation:hover {
    color: white;
    background-color:#4d2800;
}

.direct:hover {
    color: white;
    background-color:green;
}

.navigation {
  padding: 3px;
  color: #fff3e6;
  background-color: green;
  text-align: center;
  border: 2px green solid;
  font-size:20px;
}

.header {
  margin-top: 10px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  height:250px;
}

#intro {
  color: #b35c00;
  text-align:center;
}

#homePageTitle {
  color:#4d2800;
  font-size: 75px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#about {
  color: #b35c00;
  padding: 3px;
  background-color: #fff3e6;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#aboutTitle {
  font-size: 20px;
  text-align: center;
}

#aboutContent {
  text-align: center;
  padding-bottom: 15px;
}

#getStarted {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  color: #fff3e6;
  background-color: green;
  text-align: center;

  /*centering the button*/
    display: inline-flex;
    margin-left: 0%;
    /*transform: translateX(-75%);*/
}

#getStarted:hover {
  background-color:#4d2800;
}

footer {
  margin-left: 0%;
  margin-right: 0%;
  background-color: green;
  padding: 5px;
  color: #fff3e6;
  font-size: 15px;
  height: 50px;
}

.homefoot {
  margin-left: 5%;
  margin-right: 5%;
}

#foot {
  float: left;
  margin-left: 5%;
}

#contact {
  float: right;
  margin-right: 5%;
}

/*FAQ Page*/
h2 {
  font-size: 35px;
  color:#4d2800;
}

#navv {
  padding: 3px;
  background-color: #ccffcc;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
}

#directtitle {
  font-size: 20px;
}

#last {
  margin-bottom: 20px;
}

.faqq {
  text-align: left;
  margin-left: 0%;
  color: #4d2800;
}

.faqa {
  text-align: left;
  margin-left: 5%;
  color: #b35c00;
}

.question {
  padding: 10px;
  background-color: #fff3e6;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  height: 100px;
}

/* Log In Page */
.credential {
  font-size: 20px;
  text-align: left;
  margin-left: 40%;
  margin-bottom: 10px;
}

button {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

input {
  height: 20px;
}
