#homeLinks {
  text-align: right;
}

.navigation {
  padding: 3px;
  color: green;
  background-color: white;
  text-align: center;
}

#intro {
  text-align:center;
}

#homePageTitle {
  text-align: center;
}

#about {
  padding: 10px;
  color: #8c1aff;
  background-color: #ccffcc;
  text-align: center;
  margin-left:10%;
  margin-right: 10%;
}

#aboutTitle {
  text-align: center;
}

#aboutContent {
  text-align: center;
}

#getStarted {
  padding: 10px;
  color: white;
  background-color: green;
  text-align: center;

  /*centering the button*/
    display: inline-flex;
    margin-left: 50%;
    transform: translateX(-50%);
}
