<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a New Profile</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="page">
    <p id="homeLinks">
      <a class="navigation" href="/">Home</a>
      <a class="navigation" href="/faq">FAQ</a>
            <!--if logged in, show log out button instead-->
      <a class="navigation" href="/create">Sign Up</a>
      <a class="navigation" href="/login">Log In</a>
      <a class="navigation" href="homepage.html">Log Out</a>
    </p>
    <div class="header"><img src="images/temp_header.jpg"></img></div>
    <form method='post' id='create'>
      <h2>Sign Up</h2>
      <p>
        <div class="cred">First Name </div>
        <div><input name='fname'></br></div>
        <div class="cred">Last Name </div>
        <div><input name='lname'></br></div>
        <div class="cred">Are you a student or a tutor?</div><div>
        <select name='userclass'>
          <option value='student'>Student</option>
          <option value='tutor'>Tutor</option>
        </select></div>
        <div class="cred">What subject are you proficient in or struggling with?
        </div><div><input name='subject'></br></div>
        <div class="cred">When are you available?</div><div>
          <select name='avb'>
          <option value='morning'>Early Morning</option>
          <option value='morning'>Late Morning</option>
          <option value='afternoon'>Afternoon</option>
          <option value='evening'>Evening</option>
          <option value='night'>Night</option>
        </select></div>
      </p>
      <button>Create</button>
    </form>
  </div>
  </body>
  <footer class="homefoot">
    <p> <span id="foot">WebApp by: Catalyst </span><span id="contact">Contact Us: fakeappemail@gmail.com</span></p>
  </footer>
</html>
