<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a New Profile</title>
  </head>
  <body>
    <form method='post' id='create'>
      <ul>
        <li>First Name <input name='fname'></br></li>
        <li>Last Name <input name='lname'></br></li>
        <li>Email <input name='usermail'></br></li>
        <li>Password <input name='password'></br></li>
        <li>Are you a student or a tutor?
        <select name='userclass'>
          <option value='student'>Student</option>
          <option value='tutor'>Tutor</option>
        </select></li>
        <li>What subject are you proficient in or struggling with?
        <input name='subject'></br></li>
      </ul>
      <button>Create</button>
    </form>
  </body>
</html>
