<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a New Profile</title>
  </head>
  <body>
    <form method='post' id='create'>
      First Name <input name='fname'></br>
      Last Name <input name='lname'></br>
      Email <input name='usermail'></br>
      Password <input name='password'></br>
      Are you a student or a tutor?
      <select name='userclass'>
        <option value='student'>Student</option>
        <option value='tutor'>Tutor</option>
      </select>
      What subject are you proficient in or struggling with?
      <input name='subject'></br>
      <button>Create</button>
    </form>
  </body>
</html>
