<!doctype html>
<html>
  <head>
    <script src="js/clickEvents.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,900" rel="stylesheet">
    <title>TUTORIFFIC - Frequently Asked Questions</title>
  </head>
  <header>
    <a name="top"></a>
    <img id="title" src="images/title1.png"/>
  </header>
  <body>
    <div class="page">
    <p id="homeLinks">
      <a class="navigation" href="/">Home</a>
      <a class="navigation" href="/faq">FAQ</a>
            <!--if logged in, show log out button instead-->
            <a class="{{logout_button}} navigation" href="{{url}}">Log Out</a>
            <a class="navigation" href="/create">Search</a>
            <a class="{{login_button}} navigation" href="/login">Log in</a>
    </p>
    </p>
    <div class="header"><img src="images/temp_header.jpg"></img></div>

          <!--FAQ CODE-->
    <h2>Frequently Asked Questions</h2>
    <div id="navv">
      <p id="directtitle">Directory</p>
      <div><a class="direct" href="#q1">Who should sign up for TUTORIFFIC?</a></div>
      <div><a class="direct" href="#q2">How do I register?</a></div>
      <div><a class="direct" href="#q3">How much does TUTORIFFIC cost?</a></div>
      <div><a class="direct" href="#q4">How can I contact my tutor?</a></div>
      <div><a class="direct" href="#q5">How does TUTORIFFIC differentiate itself from its competitors?</a></div>
      <div id="last"><a class="direct" href="#q6">How was TUTORIFFIC developed?</a></div>
    </div>

          <!--QUESTIONS AND ANSWERS-->
    <div class="question"><div class="faqq"><a name="q1">Who should sign up for TUTORIFFIC? </a></div>
    <p class="faqa">We believe that anyone should have easy access to tutoring.
      If you are currently a student who is struggling with a subject or someone who is willing to
      volunteer their time, then this website would be perfect for you. </p></div>
    <div class="question"><div class="faqq"><a name="q2"> How do I register? </a></div>
    <p class="faqa">Just click on the sign up button above and enter some information. And just like that,
      you are a member of the community. </p></div>
    <div class="question"><div class="faqq"><a name="q3">How much does TUTORIFFIC cost?</a></div>
    <p class="faqa">It's totally free. However, we do accept donations. </p></div>
    <div class="question"><div class="faqq"><a name="q4">How can I contact my tutor?</a></div>
    <p class="faqa">Somehow. </p></div>
    <div class="question"><div class="faqq"><a name="q5">How does TUTORIFFIC differentiate itself from its competitors?</a></div>
    <p class="faqa">it's less complete but you should use it anyway</p></div>
    <div class="question"><div class="faqq"><a name="q6">How was TUTORIFFIC developed?</a></div>
    <p class="faqa">it's an in-progress</p></div>
  </body>
  <footer>
    <p> <span id="foot">WebApp by: Catalyst </span><span id="contact">Contact Us: fakeappemail@gmail.com</span></p>
  </footer>
</div>
<a class="backtotop" href="#top"><img class="back" src="images/back-to-top-button.png"/></a>
</html>
