<!doctype html>
<html>
  <head>
    <script src="js/clickEvents.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>TUTORIFFIC - Frequently Asked Questions</title>
  </head>
  <body>
    <div class="page">
    <p id="homeLinks">
      <a class="navigation" href="homepage.html">Home</a>
      <a class="navigation" href="faq.html">FAQ</a>
            <!--if logged in, show log out button instead-->
      <a class="navigation" href="create.html">Sign Up</a>
      <a class="navigation" href="login.html">Log In</a>
      <a class="navigation" href="homepage.html">Log Out</a>
    </p>
    </p>
    <div class="header"><img src="../temp_header.jpg"></img></div>
    <h2>Frequently Asked Questions</h2>
    <p id="directtitle">Directory</p>
    <div><a class="direct" href="#q1">Question 1</a></div>
    <div><a class="direct" href="#q2">Question 2</a></div>
    <div><a class="direct" href="#q3">Question 3</a></div>
    <div><a class="direct" href="#q4">Question 4</a></div>
    <div><a class="direct" href="#q5">Question 5</a></div>
    <div><a class="direct" href="#q6">Question 6</a></div>
    <div class="faqq"><a name="q1">hi</a></div>
    <p class="faqa">answer</p>
    <div class="faqq"><a name="q2">hi</a></div>
    <p class="faqa">answer</p>
    <div class="faqq"><a name="q3">hi</a></div>
    <p class="faqa">answer</p>
    <div class="faqq"><a name="q4">hi</a></div>
    <p class="faqa">answer</p>
    <div class="faqq"><a name="q5">hi</a></div>
    <p class="faqa">answer</p>
    <div class="faqq"><a name="q6">hi</a></div>
    <p class="faqa">answer</p>
  </body>
</html>
