<!doctype html>
<html>
  <head>
    <script src="js/clickEvents.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>TuTerrific - Home</title>
  </head>
  <body>
    <div class="page">
    <p id="homeLinks">
      <a class="navigation" href="homepage.html">Home</a>
      <a class="navigation" href="https://images.google.com">FAQ</a>
            <!--if logged in, show log out button instead-->
      <a class="navigation" href="create.html">Sign Up</a>
      <a class="navigation" href="login.html">Log In</a>
      <a class="navigation" href="homepage.html">Log Out</a>
    </p>
    </p>
    <div class="header"><img src="../temp_header.jpg"></img></div>
    <h2 id="intro">Welcome to<h2>
    <h1 id="homePageTitle">TUTORIFFIC</h1>
    <div id="about">
    <h4 id="aboutTitle">ABOUT</h4>
    <p id="aboutContent">
      TuTerrific is an amazing tutoring service that definitely needs to improve its introduction.
    </p> </div>
    <h3 class="navigation" id="getStarted">GET STARTED</h3> <!--if logged in, link to profile; if not, link to sign in-->
  </div>
  </body>
</html>
