<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Matches</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <ul>
    {% for info in clients %}
    <li>
      <p>
      {{info.name}} is a {{info.user_type}}.
      He/she is available in the {{info.avb}}.
      Suject: {{info.sub.capitalize()}}
      Send an email!
      <form method='post'>
        <input value='{{info.email}}' name='email' hidden>
        <input name='body'>
        <button>Send</button>
      </form>
      </p>
    </li>
    {% endfor %}
  </ul>
  </body>
</html>
