<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="js/clickEvents.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,900" rel="stylesheet">
    <title>TUTORIFFIC - Log In</title>
  </head>
  <body>
    <div class="page">
    <p id="homeLinks">
      <a class="navigation" href="/">Home</a>
      <a class="navigation" href="/faq">FAQ</a>
            <!--if logged in, show log out button instead-->
      <a class="navigation" href="/create">Sign Up</a>
      <a class="navigation" href="/login">Log In</a>
      <a class="navigation" href="homepage.html">Log Out</a>
    </p>
    <div class="header"><img src="images/temp_header.jpg"/></div>
    <form method='post' id='login'>
      <h2>Log In</h2>
      <div id="signn">
    <div class="cred">Email:  </div><div><input name='email'></br></div>
    <div class="cred">Password: </div><div><input name='password'></br></div></div>
  </form>
  <div><button> Login </button></div>
  {% if user %}
  <a href='{{url}}'>logged in test</a>
  {% else %}
  <a href='{{url}}'>logged out test</a>
  {% endif %}
</div>
  </body>
  <footer class="homefoot">
    <p> <span id="foot">WebApp by: Catalyst </span><span id="contact">Contact Us: fakeappemail@gmail.com</span></p>
  </footer>
</html>
