<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> My Profile </title>
  </head>
  <body>
    <h1> Your Student Profile </h1>
    <p> First Name, Last Name </p>
    <form method='post' id='create'>
      What subject are you proficient in or struggling with? <input name='subject'></br>
      When times are you available?

      <select name='userclass'>
        <option value='morning'>Early Morning</option>
        <option value='morning'>Late Morning</option>
        <option value='afternoon'>Afternoon</option>
        <option value='evening'>Evening</option>
        <option value='night'>Night</option>
      </select>
    </form>

    <button> Apply Changes </button>

  </body>
</html>
